package  ${virginPackage}.client.dataService;

import java.util.List;

import ${virginPackage}.client.dto.${metaData.getRealClassName()}DTO;
import com.google.gwt.user.client.rpc.RemoteService;
import com.google.gwt.user.client.rpc.RemoteServiceRelativePath;

@RemoteServiceRelativePath("data${metaData.getRealClassName()}")
public interface DataService${metaData.getRealClassName()} extends RemoteService {
    List<${metaData.getRealClassName()}DTO> fetch (int startRow,int finalRow) throws Exception;
    
	public ${metaData.getRealClassName()}DTO fetch(${finalParamForId}) throws Exception;

	${metaData.getRealClassName()}DTO add (${metaData.getRealClassName()}DTO ${metaData.getRealClassNameAsVariable()}DTO) throws Exception;

	${metaData.getRealClassName()}DTO update (${metaData.getRealClassName()}DTO ${metaData.getRealClassNameAsVariable()}DTO) throws Exception;

    void remove (${metaData.getRealClassName()}DTO ${metaData.getRealClassNameAsVariable()}DTO) throws Exception;
	
	Long totalRows() throws Exception;
}