package  ${virginPackage}.server.exceptions;
public class ExceptionMessages {
public static String VARIABLE_NULL = "Null variable: ";
public static String VARIABLE_LENGTH = "Format or length not valid for the variable: ";
public static String ENTITY_NULL = "Entity null";
public static String ENTITY_WITHSAMEKEY = "Another Entity with the same key was found";
public static String ENTITY_NOENTITYTOUPDATE = "No Entity to update was found";
public static String ENTITY_SUCCESFULLYSAVED = "Entity succesfully saved";
public static String ENTITY_SUCCESFULLYDELETED = "Entity succesfully deleted";
public static String ENTITY_SUCCESFULLYMODIFIED = "Entity succesfully modified";
}
