package ${virginPackage}.client.entrypoint;

	
import ${virginPackage}.client.dataservice.DataService${metaData.getRealClassName()};
import ${virginPackage}.client.dataservice.DataService${metaData.getRealClassName()}Async;
import ${virginPackage}.client.smartds.SmartGWTDataSource${metaData.getRealClassName()};
import com.google.gwt.core.client.GWT;
import com.google.gwt.user.client.rpc.ServiceDefTarget;
import com.smartgwt.client.rpc.RPCManager;
import com.smartgwt.client.types.Alignment;
import com.smartgwt.client.types.PromptStyle;
import com.smartgwt.client.widgets.IButton;
import com.smartgwt.client.widgets.events.ClickEvent;
import com.smartgwt.client.widgets.events.ClickHandler;
import com.smartgwt.client.widgets.form.DynamicForm;
import com.smartgwt.client.widgets.grid.ListGrid;
import com.smartgwt.client.widgets.grid.events.RecordClickEvent;
import com.smartgwt.client.widgets.grid.events.RecordClickHandler;
import com.smartgwt.client.widgets.layout.HLayout;
import com.smartgwt.client.widgets.layout.VLayout;
import com.smartgwt.client.widgets.form.fields.IntegerItem;
import com.smartgwt.client.widgets.form.fields.TextItem;
import com.smartgwt.client.widgets.form.fields.FloatItem;
import com.smartgwt.client.widgets.form.fields.DateItem;
import com.smartgwt.client.widgets.form.fields.BooleanItem;
import com.smartgwt.client.widgets.grid.ListGridField;


/**
 * Entry point classes define <code>onModuleLoad()</code>.
 */
public class ${metaData.getRealClassName()}EP {

	private DataService${metaData.getRealClassName()}Async dataService${metaData.getRealClassName()} = GWT.create(DataService${metaData.getRealClassName()}.class);
	private IButton buttonSave${metaData.getRealClassName()} = new IButton("Save");
	private IButton buttonClean${metaData.getRealClassName()} = new IButton("Clean");
	private IButton buttonDelete${metaData.getRealClassName()} = new IButton("Delete");
	private ListGrid grid${metaData.getRealClassName()};
    private DynamicForm form${metaData.getRealClassName()};
	
	private static ${metaData.getRealClassName()}EP instance = null;

    private ${metaData.getRealClassName()}EP() {
    }

    public static ${metaData.getRealClassName()}EP getInstance() {
        if (instance == null) {
            instance = new ${metaData.getRealClassName()}EP();
        }

        return instance;
    }
	
	public VLayout build${metaData.getRealClassName()}() {
		RPCManager.setPromptStyle(PromptStyle.CURSOR);
		
		VLayout layout = new VLayout(16);

		ServiceDefTarget endpoint = (ServiceDefTarget) dataService${metaData.getRealClassName()};
		String moduleRelativeURL = GWT.getModuleBaseURL() + "data";
		endpoint.setServiceEntryPoint(moduleRelativeURL);

		buttonSave${metaData.getRealClassName()}.enable();
		buttonDelete${metaData.getRealClassName()}.disable();
		
		form${metaData.getRealClassName()} = new DynamicForm();
		form${metaData.getRealClassName()}.setDataSource(SmartGWTDataSource${metaData.getRealClassName()}.getInstance());
		form${metaData.getRealClassName()}.setIsGroup(true);
		form${metaData.getRealClassName()}.setGroupTitle("Information ${metaData.getRealClassName()}");
		form${metaData.getRealClassName()}.setNumCols(4);
		
			#foreach(${member2}  in ${finalMembers})
				#if(${member2.getType().getSimpleName()} == "Date")
					DateItem f${member2.getGetNameOfPrimaryName()} = new DateItem();
                    f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");
        		#elseif(${member2.getType().getSimpleName()} == "String")
					TextItem f${member2.getGetNameOfPrimaryName()} = new TextItem();
                    f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");
				#elseif(${member2.getType().getSimpleName()} == "Long" || ${member2.getType().getSimpleName()} == "long")
					IntegerItem f${member2.getGetNameOfPrimaryName()} = new IntegerItem();
					f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");
				#elseif(${member2.getType().getSimpleName()} == "int" || ${member2.getType().getSimpleName()} == "Integer")
					IntegerItem f${member2.getGetNameOfPrimaryName()} = new IntegerItem();
					f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");
				#elseif(${member2.getType().getSimpleName()} == "Boolean" || ${member2.getType().getSimpleName()} == "boolean")
					BooleanItem f${member2.getGetNameOfPrimaryName()} = new BooleanItem();
					f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");
				#elseif(${member2.getType().getSimpleName()} == "Double" || ${member2.getType().getSimpleName()} == "double")
					FloatItem f${member2.getGetNameOfPrimaryName()} = new FloatItem();
					f${member2.getGetNameOfPrimaryName()}.setName("${member2.getName()}");
					f${member2.getGetNameOfPrimaryName()}.setTitle("${member2.getGetNameOfPrimaryName()}");				
				#end
		#end
			
		form${metaData.getRealClassName()}.setFields(
		#set( $count = 0 )
		#foreach(${members}  in ${finalMembers})
			#set( $count = $count + 1 )
			#if( $count < ${finalMembers.size()})
				f${members.getGetNameOfPrimaryName()},
			#else
				f${members.getGetNameOfPrimaryName()}
			#end
        #end);

		grid${metaData.getRealClassName()} = new ListGrid();
		grid${metaData.getRealClassName()}.setDataSource(SmartGWTDataSource${metaData.getRealClassName()}.getInstance());
		grid${metaData.getRealClassName()}.setAutoFetchData(true);
		#set($splitArray = ${metaData.getFinalParamForIdVariables().split(",")})
		#foreach($pk in $splitArray)
			grid${metaData.getRealClassName()}.setSortField("${pk.trim()}");
		#end
		
		#foreach(${members}  in ${finalMembers})
			ListGridField lF${members.getGetNameOfPrimaryName()} = new ListGridField("${members.getName()}","${members.getGetNameOfPrimaryName()}");
		#end
		
		grid${metaData.getRealClassName()}.setFields(#set( $count = 0 )
		#foreach(${members}  in ${finalMembers})
			#set( $count = $count + 1 )
			#if( $count < ${finalMembers.size()})
				lF${members.getGetNameOfPrimaryName()},
			#else
				lF${members.getGetNameOfPrimaryName()}
			#end
        #end);
		
		grid${metaData.getRealClassName()}.addRecordClickHandler(new RecordClickHandler() {
			public void onRecordClick(RecordClickEvent event) {
				form${metaData.getRealClassName()}.editSelectedData(grid${metaData.getRealClassName()});
				#set($splitArray = ${metaData.getFinalParamForIdVariables().split(",")})
				#foreach($pk in $splitArray)
            		form${metaData.getRealClassName()}.getField("${pk.trim()}").setDisabled(true);
            	#end
				buttonDelete${metaData.getRealClassName()}.enable();
			}
		});

		buttonSave${metaData.getRealClassName()}.addClickHandler(new ClickHandler() {
			public void onClick(ClickEvent event) {
				form${metaData.getRealClassName()}.submit();
				clear${metaData.getRealClassName()}();
			}
		});
		buttonDelete${metaData.getRealClassName()}.addClickHandler(new ClickHandler() {
			public void onClick(ClickEvent event) {
				grid${metaData.getRealClassName()}.removeData(grid${metaData.getRealClassName()}.getSelectedRecord());
				clear${metaData.getRealClassName()}();
			}
		});
		buttonClean${metaData.getRealClassName()}.addClickHandler(new ClickHandler() {
			public void onClick(ClickEvent event) {
				clear${metaData.getRealClassName()}();
			}
		});

		HLayout hLayout = new HLayout(15);
		hLayout.addMember(buttonSave${metaData.getRealClassName()});
		hLayout.addMember(buttonDelete${metaData.getRealClassName()});
		hLayout.addMember(buttonClean${metaData.getRealClassName()});
		hLayout.setHeight("10%");
		hLayout.setAlign(Alignment.CENTER);

		layout.addMember(form${metaData.getRealClassName()});
		layout.addMember(hLayout);
		layout.addMember(grid${metaData.getRealClassName()});
		layout.setAlign(Alignment.CENTER);

		return layout;
	}

	private void clear${metaData.getRealClassName()}() {
		form${metaData.getRealClassName()}.clearValues();
		form${metaData.getRealClassName()}.editNewRecord();
		#set($splitArray = ${metaData.getFinalParamForIdVariables().split(",")})
		#foreach($pk in $splitArray)
			form${metaData.getRealClassName()}.getField("${pk.trim()}").setDisabled(false);
		#end
		buttonSave${metaData.getRealClassName()}.enable();
		buttonDelete${metaData.getRealClassName()}.disable();
	}
}
