<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
         
      <actionSet
            label="&amp;Zathura"
            visible="true"
            id="co.edu.usbcali.lidis.zathura.eclipse.plugin.generator">
        
         <action
               class="co.edu.usbcali.lidis.zathura.eclipse.plugin.generator.actions.ZathuraGeneratorAction"
               icon="icons/balvardi-Robotic1616.png"
               id="co.edu.usbcali.lidis.zathura.eclipse.plugin.generator.actions.ZathuraGeneratorAction"
               label="&amp;Zathura Generator"
               menubarPath="co.edu.usbcali.lidis.zathura.eclipse.plugin/generator"
               toolbarPath="zathuraGroup"
               tooltip="Zathura Code Generator">
         </action>
         
         <!-- Carga la accion del plugin co.edu.usbcali.lidis.zathura.eclipse.plugin.reverse -->
         <!--
         <action
               class="co.edu.usbcali.lidis.zathura.eclipse.plugin.reverse/co.edu.usbcali.lidis.zathura.eclipse.plugin.reverse.actions.ZathuraReverseEngineeringAction"
               icon="icons/Edit_Connection.gif"
               id="co.edu.usbcali.lidis.zathura.eclipse.plugin.reverse.actions.ZathuraReverseEngineeringAction"
               label="&amp;Zathura Reverse Engineering"
               menubarPath="co.edu.usbcali.lidis.zathura.eclipse.plugin/reverse"
               toolbarPath="zathuraGroup"
               tooltip="Zathura Reverse Engineering">
         </action>
         -->
      </actionSet>
   </extension>

</plugin>
