package ${virginPackage}. ${modelName}.dto;
import javax.faces.event.ActionEvent;
import java.util.Date;
import ${package}.${metaData.getRealClassName()};
import ${virginPackage}.presentation.backEndBeans.${metaData.getRealClassName()}View;
/**
* 
*  
* @author Zathura Code Generator http://code.google.com/p/zathura/
*
*/
public class ${metaData.getRealClassName()}DTO {
#foreach($member2  in $finalParamForViewVariablesInList)
    #set( $str = $member2 ) 
    #set( $lower = $str.toString().substring(0,1).toLowerCase())
    #set($str2 = $str.toString().substring(1))
    private String $lower$str2;
#end
#foreach($member2  in $finalParamForIdForViewVariablesInList)
    #set( $str = $member2 ) 
    #set( $lower = $str.toString().substring(0,1).toLowerCase())
    #set($str2 = $str.toString().substring(1))
    private String $lower$str2;
#end
#if(${isFinalParamForViewDatesInList})
    #foreach($member2  in $finalParamForViewDatesInList)
        #set( $str = $member2 ) 
        #set( $lower = $str.toString().substring(0,1).toLowerCase())
        #set($str2 = $str.toString().substring(1))
        private Date $lower$str2;
    #end
#end
#if(${isFinalParamForIdForViewDatesInList})
    #foreach($member2  in $finalParamForIdForViewDatesInList)
        #set( $str = $member2 ) 
        #set( $lower = $str.toString().substring(0,1).toLowerCase())
        #set($str2 = $str.toString().substring(1))
        private Date $lower$str2;
    #end
#end
    private boolean rowSelected = false;
    private ${metaData.getRealClassName()}View ${metaData.getRealClassNameAsVariable()}View;
    private ${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()};
    public ${metaData.getRealClassName()} get${metaData.getRealClassName()}() {
    return ${metaData.getRealClassNameAsVariable()};
}
public String listener_update(ActionEvent e) {
try {
${metaData.getRealClassNameAsVariable()}View.action_modifyWitDTO(${finalParamForDtoUpdate});
rowSelected = !rowSelected;
} catch (Exception ex) {
return "";
}
return "";
}
public void listener_cancel(ActionEvent e) {
#foreach($member2  in $finalParamForIdForDtoForSetsVariablesInList)
    ${member2}
#end
#foreach($member2  in $finalParamForDtoForSetsVariablesInList)
    ${member2}
#end
rowSelected = !rowSelected;
}
/**
* <p>Bound to commandLink actionListener in the ui that renders/unrenders
    * the Customer details for editing.</p>
    */
    public void toggleSelected(ActionEvent e) {
    #foreach($member2  in $finalParamForIdForDtoForSetsVariablesInList)
        ${member2}
    #end
    #foreach($member2  in $finalParamForDtoForSetsVariablesInList)
        ${member2}
    #end
    rowSelected = !rowSelected;
    }	
    public void set${metaData.getRealClassName()}(${metaData.getRealClassName()} ${metaData.getRealClassNameAsVariable()}) {
    this.${metaData.getRealClassNameAsVariable()} = ${metaData.getRealClassNameAsVariable()};
    }
    public ${metaData.getRealClassName()}View get${metaData.getRealClassName()}View() {
    return ${metaData.getRealClassNameAsVariable()}View;
    }
    public void set${metaData.getRealClassName()}View(${metaData.getRealClassName()}View ${metaData.getRealClassNameAsVariable()}View) {
    this.${metaData.getRealClassNameAsVariable()}View = ${metaData.getRealClassNameAsVariable()}View;
    }
    #foreach($member2  in $finalParamForViewVariablesInList)
        #set( $str = $member2 ) 
        #set( $lower = $str.toString().substring(0,1).toLowerCase())
        #set($str2 = $str.toString().substring(1))
        public String get${member2}() {
        return $lower$str2;
        }
        public void set${member2}(String $lower$str2) {
        this.$lower$str2 = $lower$str2;
        }
    #end
    #if(${isFinalParamForViewDatesInList})
        #foreach($member2  in $finalParamForViewDatesInList)
            #set( $str = $member2 ) 
            #set( $lower = $str.toString().substring(0,1).toLowerCase())
            #set($str2 = $str.toString().substring(1))
            public Date get${member2}() {
            return $lower$str2;
            }
            public void set${member2}(Date $lower$str2) {
            this.$lower$str2 = $lower$str2;
            }
        #end
    #end
    #foreach($member2  in $finalParamForIdForViewVariablesInList)
        #set( $str = $member2 ) 
        #set( $lower = $str.toString().substring(0,1).toLowerCase())
        #set($str2 = $str.toString().substring(1))
        public String get${member2}() {
        return $lower$str2;
        }
        public void set${member2}(String $lower$str2) {
        this.$lower$str2 = $lower$str2;
        }
    #end
    #if(${isFinalParamForIdForViewDatesInList})
        #foreach($member2  in $finalParamForIdForViewDatesInList)
            #set( $str = $member2 ) 
            #set( $lower = $str.toString().substring(0,1).toLowerCase())
            #set($str2 = $str.toString().substring(1))
            public Date get${member2}() {
            return $lower$str2;
            }
            public void set${member2}(Date $lower$str2) {
            this.$lower$str2 = $lower$str2;
            }
        #end
    #end
    public boolean isRowSelected() {
    return rowSelected;
    }
    public void setRowSelected(boolean rowSelected) {
    this.rowSelected = rowSelected;
    }
    }
