package  ${packageOriginal}.control;
import java.util.*;
import java.util.List;
import java.util.Set;
import java.util.Date;
import java.math.BigDecimal;
import $package.${metaData.getRealClassName()};
#if($composedKey)
    import $package.${metaData.primaryKey.getRealClassName()};
#end
public interface I${metaData.getRealClassName()}Logic {
public List<${metaData.getRealClassName()}> get${metaData.getRealClassName()}() throws Exception;
    public void save${metaData.getRealClassName()}(${finalParam})throws Exception;
    public void delete${metaData.getRealClassName()}($finalParamForId)throws Exception;
    public void update${metaData.getRealClassName()}(${finalParam})throws Exception;
    public ${metaData.getRealClassName()} get${metaData.getRealClassName()}(${metaData.primaryKey.getRealClassName()} ${metaData.primaryKey.getShowName()}) throws Exception;
    public List<${metaData.getRealClassName()}> findByCriteria(Object[] variables,		Object[] variablesBetween, Object[] variablesBetweenDates)			throws Exception ;
        public List<${metaData.getRealClassName()}> findPage${metaData.getRealClassName()}(String sortColumnName, boolean sortAscending,
            int startRow, int maxResults) throws Exception ;
            public Long findTotalNumber${metaData.getRealClassName()}() throws Exception ;
            }
