<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  
	<modelVersion>${modelVersion}</modelVersion>	
#if(!${parentGroupId.isEmpty()})
	<parent>
		<groupId>${parentGroupId}</groupId>
		<artifactId>${parentArtifactId}</artifactId>
		<version>${parentVersion}</version> 
	</parent>
#end
	<groupId>${groupId}</groupId>
	<artifactId>${artifactId}</artifactId>
	<version>${version}</version>
	<packaging>${packaging}</packaging>
#if(!${name.isEmpty()})	
	<name>${name}</name>
#end
#if(!${description.isEmpty()})	
	<description>${description}</description>	
#end
	  
	<properties>
        <hibernate.version>3.3.0.GA</hibernate.version>
		<hibernate-entityManager.version>3.3.1.GA</hibernate-entityManager.version>		
        <icefaces.version>1.8.1</icefaces.version>
    </properties>	
	
	<dependencies>
		<dependency>
		  <groupId>antlr</groupId>
		  <artifactId>antlr</artifactId>
		  <version>2.7.6</version>
		</dependency>
		<dependency>
		  <groupId>asm</groupId>
		  <artifactId>asm</artifactId>
		  <version>1.5.3</version>
		</dependency>
		<dependency>
		  <groupId>asm</groupId>
		  <artifactId>asm-attrs</artifactId>
		  <version>1.5.3</version>
		</dependency>
		<dependency>
		  <groupId>backport-util-concurrent</groupId>
		  <artifactId>backport-util-concurrent</artifactId>
		  <version>2.2</version>
		</dependency>
		<dependency>
		  <groupId>cglib</groupId>
		  <artifactId>cglib</artifactId>
		  <version>2.1_3</version>
		</dependency>
		<dependency>
		  <groupId>commons-beanutils</groupId>
		  <artifactId>commons-beanutils</artifactId>
		  <version>1.8.0</version>
		</dependency>
		<dependency>
		  <groupId>commons-collections</groupId>
		  <artifactId>commons-collections</artifactId>
		  <version>2.1.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-collections</groupId>
		  <artifactId>commons-collections</artifactId>
		  <version>3.2</version>
		</dependency>
		<dependency>
		  <groupId>commons-digester</groupId>
		  <artifactId>commons-digester</artifactId>
		  <version>1.8</version>
		</dependency>
		<dependency>
		  <groupId>commons-fileupload</groupId>
		  <artifactId>commons-fileupload</artifactId>
		  <version>1.2.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-logging</groupId>
		  <artifactId>commons-logging</artifactId>
		  <version>1.0.4</version>
		</dependency>
		<dependency>
		  <groupId>commons-logging</groupId>
		  <artifactId>commons-logging</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-validator</groupId>
		  <artifactId>commons-validator</artifactId>
		  <version>1.3.1</version>
		</dependency>
		<dependency>
		  <groupId>dom4j</groupId>
		  <artifactId>dom4j</artifactId>
		  <version>1.6.1</version>
		</dependency>
		<dependency>
		  <groupId>jaas</groupId>
		  <artifactId>jaas</artifactId>
		  <version>1.0.1</version>
		</dependency>
		<dependency>
		  <groupId>javassist</groupId>
		  <artifactId>javassist</artifactId>
		  <version>3.4.GA</version>
		</dependency>
		<dependency>
		  <groupId>javax.faces</groupId>
		  <artifactId>jsf-api</artifactId>
		  <version>1.2_04</version>
		</dependency>
		<dependency>
		  <groupId>javax.faces</groupId>
		  <artifactId>jsf-impl</artifactId>
		  <version>1.2_02</version>
		</dependency>
		<dependency>
		  <groupId>javax.servlet.jsp.jstl</groupId>
		  <artifactId>jstl</artifactId>
		  <version>1.2</version>
		</dependency>
		<dependency>
		  <groupId>javax.sql</groupId>
		  <artifactId>jdbc-stdext</artifactId>
		  <version>2.0</version>
		</dependency>
		<dependency>
		  <groupId>javax.transaction</groupId>
		  <artifactId>jta</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>jaxen</groupId>
		  <artifactId>jaxen</artifactId>
		  <version>1.1-beta-7</version>
		</dependency>
		<dependency>
		  <groupId>jboss</groupId>
		  <artifactId>jboss-archive-browsing</artifactId>
		  <version>2.0.2.alpha</version>
		</dependency>
		<dependency>
		  <groupId>log4j</groupId>
		  <artifactId>log4j</artifactId>
		  <version>1.2.11</version>
		</dependency>
		<dependency>
		  <groupId>log4j</groupId>
		  <artifactId>log4j</artifactId>
		  <version>1.2.17</version>
		</dependency>
		<dependency>
		  <groupId>net.sf.ehcache</groupId>
		  <artifactId>ehcache</artifactId>
		  <version>1.2.3</version>
		</dependency>
		<dependency>
		  <groupId>net.sf.jcharts</groupId>
		  <artifactId>krysalis-jCharts</artifactId>
		  <version>1.0.0-alpha-1</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>ejb3-persistence</artifactId>
		  <version>1.0.2.GA</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate</artifactId>
		  <version>3.2.0.cr2</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-annotations</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-commons-annotations</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-entitymanager</artifactId>
		  <version>${hibernate-entityManager.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-validator</artifactId>
		  <version>3.0.0.ga</version>
		</dependency>
		<dependency>
		  <groupId>org.icefaces</groupId>
		  <artifactId>icefaces</artifactId>
		  <version>${icefaces.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.icefaces</groupId>
		  <artifactId>icefaces-comps</artifactId>
		  <version>${icefaces.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.icefaces</groupId>
		  <artifactId>icefaces-facelets</artifactId>
		  <version>${icefaces.version}</version>
		</dependency>
		<dependency>
		  <groupId>oro</groupId>
		  <artifactId>oro-gump</artifactId>
		  <version>01122008</version>
		</dependency>
		<dependency>
		  <groupId>xerces</groupId>
		  <artifactId>xercesImpl</artifactId>
		  <version>2.6.2</version>
		</dependency>
		<dependency>
		  <groupId>xml-apis</groupId>
		  <artifactId>xml-apis</artifactId>
		  <version>2.0.2</version>
		</dependency>
		<dependency>
			<groupId>${groupIdConnector}</groupId>
			<artifactId>${artifactIdConnector}</artifactId>
			<version>${versionConnector}</version>
		</dependency>
	</dependencies>
	<build>
	  <plugins>
	    <plugin>
	      <groupId>org.apache.maven.plugins</groupId>
	      <artifactId>maven-compiler-plugin</artifactId>
	      <configuration>
	        <source>1.6</source>
	        <target>1.6</target>
	      </configuration>
	    </plugin>
	  </plugins>
	</build>	
</project>