<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  
	<modelVersion>${modelVersion}</modelVersion>	
#if(!${parentGroupId.isEmpty()})
	<parent>
		<groupId>${parentGroupId}</groupId>
		<artifactId>${parentArtifactId}</artifactId>
		<version>${parentVersion}</version> 
	</parent>
#end
	<groupId>${groupId}</groupId>
	<artifactId>${artifactId}</artifactId>
	<version>${version}</version>
	<packaging>${packaging}</packaging>
#if(!${name.isEmpty()})	
	<name>${name}</name>
#end
#if(!${description.isEmpty()})	
	<description>${description}</description>	
#end
	
	<properties>
        <ejb.version>3.1.1</ejb.version>
        <primefaces.version>4.0</primefaces.version>
    </properties>
	
	<dependencies>
		<dependency>
		  <groupId>org.primefaces.themes</groupId>
		  <artifactId>bootstrap</artifactId>
		  <version>1.0.10</version>
		</dependency>
		<dependency>
		  <groupId>org.primefaces</groupId>
		  <artifactId>primefaces</artifactId>
		  <version>${primefaces.version}</version>
		</dependency>
		<dependency>
			<groupId>org.hibernate.javax.persistence</groupId>
			<artifactId>hibernate-jpa-2.1-api</artifactId>
			<version>1.0.0.Final</version>
		</dependency>		
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.annotation</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.ejb</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.enterprise.deploy</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.jms</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.mail</artifactId>
			<version>3.0-Prelude</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.management.j2ee</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.persistence</artifactId>
			<version>3.0-Prelude</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.resource</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.security.auth.message</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.security.jacc</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.servlet.jsp.jstl</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.servlet.jsp</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.servlet</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.transaction</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
			<groupId>org.glassfish</groupId>
			<artifactId>javax.xml.rpc</artifactId>
			<version>${ejb.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.slf4j</groupId>
		  <artifactId>slf4j-api</artifactId>
		  <version>1.7.5</version>
		</dependency>
		<dependency>
		  <groupId>org.slf4j</groupId>
		  <artifactId>slf4j-log4j12</artifactId>
		  <version>1.7.5</version>
		</dependency>
		<dependency>
		  <groupId>com.google.code.maven-play-plugin.com.jamonapi</groupId>
		  <artifactId>jamon</artifactId>
		  <version>2.74</version>
		</dependency>
		<dependency>
		  <groupId>org.glassfish</groupId>
		  <artifactId>javax.faces</artifactId>
		  <version>2.1.24</version>
		</dependency>
		<dependency>
		  <groupId>commons-beanutils</groupId>
		  <artifactId>commons-beanutils</artifactId>
		  <version>1.7.0</version>
		</dependency>
		<dependency>
		  <groupId>commons-collections</groupId>
		  <artifactId>commons-collections</artifactId>
		  <version>3.2</version>
		</dependency>
		<dependency>
		  <groupId>commons-dbcp</groupId>
		  <artifactId>commons-dbcp</artifactId>
		  <version>1.4</version>
		</dependency>
		<dependency>
		  <groupId>commons-fileupload</groupId>
		  <artifactId>commons-fileupload</artifactId>
		  <version>1.2.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-httpclient</groupId>
		  <artifactId>commons-httpclient</artifactId>
		  <version>3.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-lang</groupId>
		  <artifactId>commons-lang</artifactId>
		  <version>2.5</version>
		</dependency>
		<dependency>
		  <groupId>commons-logging</groupId>
		  <artifactId>commons-logging</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-pool</groupId>
		  <artifactId>commons-pool</artifactId>
		  <version>1.5.3</version>
		</dependency>
		<dependency>
		  <groupId>commons-validator</groupId>
		  <artifactId>commons-validator</artifactId>
		  <version>1.4.0</version>
		</dependency>
		<dependency>
		  <groupId>aopalliance</groupId>
		  <artifactId>aopalliance</artifactId>
		  <version>1.0</version>
		</dependency>
		<dependency>
		  <groupId>org.aspectj</groupId>
		  <artifactId>aspectjweaver</artifactId>
		  <version>1.6.9</version>
		</dependency>
		<dependency>
		  <groupId>log4j</groupId>
		  <artifactId>log4j</artifactId>
		  <version>1.2.17</version>
		</dependency>
		<dependency>
			<groupId>com.oracle</groupId>
			<artifactId>ojdbc14</artifactId>
			<version>10.2.0.4.0</version>
		</dependency>
	</dependencies>
	<build>
	  <plugins>
	    <plugin>
	      <groupId>org.apache.maven.plugins</groupId>
	      <artifactId>maven-compiler-plugin</artifactId>
	      <configuration>
	        <source>1.6</source>
	        <target>1.6</target>
	      </configuration>
	    </plugin>
	  </plugins>
	</build>	
</project>