<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ice="http://www.icesoft.com/icefaces/component"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <html>
        <body>
            <f:view>
                <ui:composition template="/WEB-INF/facelets/mainTemplate.jspx">
                    <ui:define name="header">
                        <ui:include src="/WEB-INF/facelets/header.jspx" />
                    </ui:define>
                    <br />
                    <ui:define name="body">
                        <ice:form>
                            <br />
                            <br />
                            <div align="center">
                                <ice:commandLink id="cmdBack" 
                                    value="Back" action="goInitialMenu">
                                </ice:commandLink>
                                <ice:panelGrid columns="1" id="pnlPrincipal">                                
                                    <ice:messages style="font-family: fantasy;color: red;font-size: 13px;" />
                                </ice:panelGrid>
                            </div>
                            <div align="center">
								<ice:panelCollapsible expanded="true" toggleOnClick="false" rendered="#{${metaData.getRealClassNameAsVariable()}View.renderDataTable}" >
									<f:facet name="header">
										<ice:outputLabel id="msgProjectClientesTitle" value="${metaData.getRealClassName()}Data" />
									</f:facet>
                                <ice:panelGroup rendered="#{${metaData.getRealClassNameAsVariable()}View.renderDataTable}">
                                    <div align="center" >
                                        <!--<div align="center" style="overflow: auto; width: 750px;">-->
                                        <ice:dataTable id="table${metaData.getRealClassName()}"
                                            value="#{${metaData.getRealClassNameAsVariable()}View.data}" 
                                            var="${metaData.getRealClassNameAsVariable()}" 
                                            sortAscending="#{${metaData.getRealClassNameAsVariable()}View.sortAscending}"
                                            sortColumn="#{${metaData.getRealClassNameAsVariable()}View.sortColumnName}"
                                            rows="#{${metaData.getRealClassNameAsVariable()}View.pageSize}">
                                            <f:facet name="header">
                                                <ice:columnGroup>
                                                    <ice:headerRow>
                                                        #foreach($member  in $finalParamForIdClassAsVariables2)
                                                            #set( $couter1 = $velocityCount)
                                                            <ice:column>
                                                                #foreach($member2  in $finalParamForVariablesDataTablesForIdAsList)
                                                                    #set( $couter2 = $velocityCount)
                                                                    #if($couter1 == $couter2)
                                                                        <ice:commandSortHeader arrow="true" columnName="$member2">
                                                                    #end
                                                                #end
                                                                <ice:outputText value="$member" />
                                                                #foreach($member2  in $finalParamForVariablesDataTablesForIdAsList)
                                                                    #set( $couter2 = $velocityCount)
                                                                    #if($couter1 == $couter2)
                                                                        </ice:commandSortHeader>
                                                                    #end
                                                                #end
                                                            </ice:column>
                                                        #end
                                                        #foreach($member  in $finalParamVariablesAsList2)
                                                            #set( $couter1 = $velocityCount)
                                                            <ice:column>
                                                                #foreach($member2  in $finalParamForVariablesDataTablesAsList)
                                                                    #set( $couter2 = $velocityCount)
                                                                    #if($couter1 == $couter2)
                                                                        <ice:commandSortHeader arrow="true" columnName="$member2">
                                                                    #end
                                                                #end
                                                                <ice:outputText value="$member" />
                                                                #foreach($member2  in $finalParamForVariablesDataTablesAsList)
                                                                    #set( $couter2 = $velocityCount)
                                                                    #if($couter1 == $couter2)
                                                                        </ice:commandSortHeader>
                                                                    #end
                                                                #end
                                                            </ice:column>
                                                        #end
                                                    </ice:headerRow>
                                                </ice:columnGroup>
                                            </f:facet>
                                            #foreach($member  in $finalParamForVariablesDataTablesForIdAsList)
                                                <ice:column>
                                                    <ice:outputText value="#{$metaData.getRealClassNameAsVariable().$member}" />
                                                </ice:column>
                                            #end
                                            #foreach($member  in $finalParamForVariablesDataTablesAsList)
                                                <ice:column>
                                                    <ice:outputText value="#{$metaData.getRealClassNameAsVariable().$member}" />
                                                </ice:column>
                                            #end
                                        </ice:dataTable>
                                    </div>
                                    <div align="center">
                                        <ice:dataPaginator id="dataScroll" for="table${metaData.getRealClassName()}"
                                            fastStep="3" paginator="true" rowsCountVar="rowsCount"
                                            renderFacetsIfSinglePage="false"
                                            displayedRowsCountVar="displayedRowsCountVar"
                                            firstRowIndexVar="firstRowIndex" lastRowIndexVar="lastRowIndex"
                                            pageCountVar="pageCount" pageIndexVar="pageIndex"
                                            paginatorMaxPages="4">
                                            <f:facet name="first">
                                                <ice:graphicImage id="firstpage_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-first.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:facet name="last">
                                                <ice:graphicImage id="lastpage_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-last.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:facet name="previous">
                                                <ice:graphicImage id="previouspage_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-previous.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:facet name="next">
                                                <ice:graphicImage id="nextpage_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-next.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:facet name="fastforward">
                                                <ice:graphicImage id="fastforward_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-ff.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:facet name="fastrewind">
                                                <ice:graphicImage id="fastrewind_1"
                                                    url="/xmlhttp/css/rime/css-images/arrow-fr.gif"
                                                    style="border:none;" />
                                            </f:facet>
                                            <f:param value="#{rowsCount}" />
                                            <f:param value="#{displayedRowsCountVar}" />
                                            <f:param value="#{firstRowIndex}" />
                                            <f:param value="#{lastRowIndex}" />
                                            <f:param value="#{pageIndex}" />
                                            <f:param value="#{pageCount}" />
                                        </ice:dataPaginator>
                                    </div>
                                </ice:panelGroup>
								</ice:panelCollapsible>
                            </div>
                            <div align="center">
                                <ice:outputText value="NO DATA TO SHOW WAS FOUND" rendered="#{${metaData.getRealClassNameAsVariable()}View.renderDataTable== true ? false : true}"/>
                            </div>
                        </ice:form>
                    </ui:define>
                    <ui:define name="footer">
                        <ui:include src="/WEB-INF/facelets/footer.jspx" />
                    </ui:define>
                </ui:composition>
            </f:view>
        </body>
    </html>
</jsp:root>
