package ${virginPackage}.client.dataService;

import java.util.List;

import ${virginPackage}.client.dto.${metaData.getRealClassName()}DTO;
import com.google.gwt.user.client.rpc.AsyncCallback;

public interface DataService${metaData.getRealClassName()}Async {
	public abstract void fetch (AsyncCallback<List<${metaData.getRealClassName()}DTO>> asyncCallback);

	public abstract void fetch (Long key, AsyncCallback<${metaData.getRealClassName()}DTO> asyncCallback);

	public abstract void add (${metaData.getRealClassName()}DTO entityDTO, AsyncCallback<${metaData.getRealClassName()}DTO> asyncCallback);

	public abstract void update (${metaData.getRealClassName()}DTO entityDTO, AsyncCallback<${metaData.getRealClassName()}DTO> asyncCallback);

	public abstract void remove (${metaData.getRealClassName()}DTO entityDTO, AsyncCallback<Void> asyncCallback);
}