<jsp:root jsfc="f:view" xmlns:jsp="http://java.sun.com/JSP/Page"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">
   
   <html>
		<body>
			<f:view>
				<ui:composition>
		
					<!-- Beging header -->
					<div id="header">
						<a href="http://www.zathuracode.org/" title="Zathuracode 3.0"> <img
							src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/images/logo.png"
							alt="Zathuracode 3.0" class="logo"  /> </a>
						
						<ul id="toplinks">
							<li><a href="http://code.google.com/p/zathura/">Google Code</a></li>
                			<li><a href="http://www.zathuracode.org">Zathuracode</a></li>
                			<li><a href="http://www.vortexbird.com">Vortexbird</a></li>
            			</ul>		
					</div>
					<br />
		
					<br />
		
					<!-- end header -->
				</ui:composition>
			</f:view>
		</body>
	</html>
</jsp:root>
