<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  
	<modelVersion>${modelVersion}</modelVersion>	
#if(!${parentGroupId.isEmpty()})
	<parent>
		<groupId>${parentGroupId}</groupId>
		<artifactId>${parentArtifactId}</artifactId>
		<version>${parentVersion}</version> 
	</parent>
#end
	<groupId>${groupId}</groupId>
	<artifactId>${artifactId}</artifactId>
	<version>${version}</version>
	<packaging>${packaging}</packaging>
#if(!${name.isEmpty()})	
	<name>${name}</name>
#end
#if(!${description.isEmpty()})	
	<description>${description}</description>	
#end
	
	<properties>
        <hibernate.version>3.3.0.ga</hibernate.version>
        <primefaces.version>3.2</primefaces.version>
    </properties>
    
	<dependencies>
		<dependency>
		  <groupId>antlr</groupId>
		  <artifactId>antlr</artifactId>
		  <version>2.7.6</version>
		</dependency>
		<dependency>
			<groupId>cglib</groupId>
			<artifactId>cglib</artifactId>
			<version>2.2</version>
		</dependency>
		<dependency>
			<groupId>commons-collections</groupId>
			<artifactId>commons-collections</artifactId>
			<version>3.1</version>
		</dependency>
		<dependency>
		  <groupId>dom4j</groupId>
		  <artifactId>dom4j</artifactId>
		  <version>1.6.1</version>
		</dependency>
		<dependency>
		  <groupId>net.sf.ehcache</groupId>
		  <artifactId>ehcache</artifactId>
		  <version>1.2.3</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>ejb3-persistence</artifactId>
		  <version>1.0.2.GA</version>
		</dependency>
		<dependency>
			<groupId>org.hibernate</groupId>
			<artifactId>hibernate</artifactId>
			<version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-annotations</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-commons-annotations</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-entitymanager</artifactId>
		  <version>3.3.1.ga</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-validator</artifactId>
		  <version>3.0.0.ga</version>
		</dependency>
		<dependency>
			<groupId>javassist</groupId>
			<artifactId>javassist</artifactId>
			<version>3.9.0.GA</version>
		</dependency>
		<dependency>
		  <groupId>javax.transaction</groupId>
		  <artifactId>jta</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>log4j</groupId>
		  <artifactId>log4j</artifactId>
		  <version>1.2.14</version>
		</dependency>
		<dependency>
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-api</artifactId>
			<version>1.5.8</version>
		</dependency>
		<dependency>
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-log4j12</artifactId>
			<version>1.5.8</version>
		</dependency>
		<dependency>
		  <groupId>org.primefaces.themes</groupId>
		  <artifactId>aristo</artifactId>
		  <version>1.0.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-logging</groupId>
		  <artifactId>commons-logging</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-validator</groupId>
		  <artifactId>commons-validator</artifactId>
		  <version>1.3.1</version>
		</dependency>
		<dependency>
		  <groupId>javax.servlet</groupId>
		  <artifactId>javax.servlet-api</artifactId>
		  <version>3.0.1</version>
		</dependency>
		<dependency>
		  <groupId>javax.faces</groupId>
		  <artifactId>jsf-api</artifactId>
		  <version>1.2</version>
		</dependency>
		<dependency>
		  <groupId>javax.faces</groupId>
		  <artifactId>jsf-impl</artifactId>
		  <version>1.2</version>
		</dependency>
		<dependency>
		  <groupId>org.primefaces</groupId>
		  <artifactId>primefaces</artifactId>
		  <version>${primefaces.version}</version>
		</dependency>
		<dependency>
			<groupId>${groupIdConnector}</groupId>
			<artifactId>${artifactIdConnector}</artifactId>
			<version>${versionConnector}</version>
		</dependency>
	</dependencies>
	<build>
	  <plugins>
	    <plugin>
	      <groupId>org.apache.maven.plugins</groupId>
	      <artifactId>maven-compiler-plugin</artifactId>
	      <configuration>
	        <source>1.6</source>
	        <target>1.6</target>
	      </configuration>
	    </plugin>
	  </plugins>
	</build>	
</project>