<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  
	<modelVersion>${modelVersion}</modelVersion>	
#if(!${parentGroupId.isEmpty()})
	<parent>
		<groupId>${parentGroupId}</groupId>
		<artifactId>${parentArtifactId}</artifactId>
		<version>${parentVersion}</version> 
	</parent>
#end
	<groupId>${groupId}</groupId>
	<artifactId>${artifactId}</artifactId>
	<version>${version}</version>
	<packaging>${packaging}</packaging>
#if(!${name.isEmpty()})	
	<name>${name}</name>
#end
#if(!${description.isEmpty()})	
	<description>${description}</description>	
#end
	
	<properties>
        <hibernate.version>4.2.3.Final</hibernate.version>
        <primefaces.version>3.5</primefaces.version>
		<spring.version>3.2.3.RELEASE</spring.version>
    </properties>
	
	<dependencies>
		<dependency>
		  <groupId>antlr</groupId>
		  <artifactId>antlr</artifactId>
		  <version>2.7.7</version>
		</dependency>
		<dependency>
		  <groupId>com.mchange</groupId>
		  <artifactId>c3p0</artifactId>
		  <version>0.9.2.1</version>
		</dependency>
		<dependency>
		  <groupId>dom4j</groupId>
		  <artifactId>dom4j</artifactId>
		  <version>1.6.1</version>
		</dependency>
		<dependency>
		  <groupId>net.sf.ehcache</groupId>
		  <artifactId>ehcache-core</artifactId>
		  <version>2.4.3</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-c3p0</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate.common</groupId>
		  <artifactId>hibernate-commons-annotations</artifactId>
		  <version>4.0.2.Final</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-core</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-ehcache</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate.javax.persistence</groupId>
		  <artifactId>hibernate-jpa-2.0-api</artifactId>
		  <version>1.0.1.Final</version>
		</dependency>
		<dependency>
		  <groupId>org.hibernate</groupId>
		  <artifactId>hibernate-proxool</artifactId>
		  <version>${hibernate.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.javassist</groupId>
		  <artifactId>javassist</artifactId>
		  <version>3.15.0-GA</version>
		  <classifier>GA</classifier>
		</dependency>
		<dependency>
		  <groupId>org.jboss.logging</groupId>
		  <artifactId>jboss-logging</artifactId>
		  <version>3.1.0.GA</version>
		</dependency>
		<dependency>
		  <groupId>org.jboss.spec.javax.transaction</groupId>
		  <artifactId>jboss-transaction-api_1.1_spec</artifactId>
		  <version>1.0.1.Final</version>
		</dependency>
		<dependency>
		  <groupId>com.mchange</groupId>
		  <artifactId>mchange-commons-java</artifactId>
		  <version>0.2.3.4</version>
		</dependency>
		<dependency>
		  <groupId>proxool</groupId>
		  <artifactId>proxool</artifactId>
		  <version>0.8.3</version>
		</dependency>
		<dependency>
		  <groupId>org.primefaces.themes</groupId>
		  <artifactId>aristo</artifactId>
		  <version>1.0.1</version>
		</dependency>
		<dependency>
		  <groupId>org.primefaces</groupId>
		  <artifactId>primefaces</artifactId>
		  <version>${primefaces.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-aop</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-aspects</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-beans</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-build-src</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-context</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-context-support</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-core</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-instrument</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-instrument-tomcat</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-jdbc</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-jms</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-orm</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-oxm</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-test</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-tx</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-web</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-webmvc</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.springframework</groupId>
		  <artifactId>spring-webmvc-portlet</artifactId>
		  <version>${spring.version}</version>
		</dependency>
		<dependency>
		  <groupId>org.slf4j</groupId>
		  <artifactId>slf4j-api</artifactId>
		  <version>1.7.5</version>
		</dependency>
		<dependency>
		  <groupId>org.slf4j</groupId>
		  <artifactId>slf4j-log4j12</artifactId>
		  <version>1.7.5</version>
		</dependency>
		<dependency>
		  <groupId>com.google.code.maven-play-plugin.com.jamonapi</groupId>
		  <artifactId>jamon</artifactId>
		  <version>2.74</version>
		</dependency>
		<dependency>
		  <groupId>org.glassfish</groupId>
		  <artifactId>javax.faces</artifactId>
		  <version>2.1.24</version>
		</dependency>
		<dependency>
		  <groupId>commons-beanutils</groupId>
		  <artifactId>commons-beanutils</artifactId>
		  <version>1.7.0</version>
		</dependency>
		<dependency>
		  <groupId>commons-collections</groupId>
		  <artifactId>commons-collections</artifactId>
		  <version>3.2</version>
		</dependency>
		<dependency>
		  <groupId>commons-dbcp</groupId>
		  <artifactId>commons-dbcp</artifactId>
		  <version>1.4</version>
		</dependency>
		<dependency>
		  <groupId>commons-fileupload</groupId>
		  <artifactId>commons-fileupload</artifactId>
		  <version>1.2.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-httpclient</groupId>
		  <artifactId>commons-httpclient</artifactId>
		  <version>3.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-lang</groupId>
		  <artifactId>commons-lang</artifactId>
		  <version>2.5</version>
		</dependency>
		<dependency>
		  <groupId>commons-logging</groupId>
		  <artifactId>commons-logging</artifactId>
		  <version>1.1</version>
		</dependency>
		<dependency>
		  <groupId>commons-pool</groupId>
		  <artifactId>commons-pool</artifactId>
		  <version>1.5.3</version>
		</dependency>
		<dependency>
		  <groupId>commons-validator</groupId>
		  <artifactId>commons-validator</artifactId>
		  <version>1.4.0</version>
		</dependency>
		<dependency>
		  <groupId>aopalliance</groupId>
		  <artifactId>aopalliance</artifactId>
		  <version>1.0</version>
		</dependency>
		<dependency>
		  <groupId>org.aspectj</groupId>
		  <artifactId>aspectjweaver</artifactId>
		  <version>1.6.9</version>
		</dependency>
		<dependency>
		  <groupId>log4j</groupId>
		  <artifactId>log4j</artifactId>
		  <version>1.2.17</version>
		</dependency>
		<dependency>
			<groupId>${groupIdConnector}</groupId>
			<artifactId>${artifactIdConnector}</artifactId>
			<version>${versionConnector}</version>
		</dependency>
	</dependencies>
	<build>
	  <plugins>
	    <plugin>
	      <groupId>org.apache.maven.plugins</groupId>
	      <artifactId>maven-compiler-plugin</artifactId>
	      <configuration>
	        <source>1.6</source>
	        <target>1.6</target>
	      </configuration>
	    </plugin>
	  </plugins>
	</build>	
</project>