<?xml version="1.0"?>
<project name="zathuraReverse" default="compilePojos" basedir=".">
	
	<path id="toolslib">
		<path location="../lib/hibernate3.jar" />
		<path location="../lib/commons-logging-1.0.4.jar" />
		<path location="../lib/commons-collections-2.1.1.jar" />
		<path location="../lib/ejb3-persistence.jar" />
	</path>	
	
	<target name="compilePojos" description="compiles generated pojos">
		<!-- Create the distribution directory -->
		
		<!--mkdir dir="bin/co/edu/usbcali/mascotas/domain/pojos" />-->
		<javac classpathref="toolslib" srcdir="${destinationDirectory}${companyDomainNameForPojoLocation}" destdir="${destinationDirectory}" >			
			<include name="*.java" />
		</javac>		
	</target>
   	<!--target name="init" >
		<javac srcdir="src/co/edu/usbcali/mascotas/domain/pojos" destdir="bin/co/edu/usbcali/mascotas/domain/pojos" >			
			<include name="*.java" />
		</javac>
	</target-->
</project>
